* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.any-vue {
  height: 100%;
}

.a-nav-controller {
  height: 100%;
  background: #555;

  &__stack {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__view {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.is-presenting, &.is-dismissing {
      left: 100%;
      opacity: 1;
    }
    &.is-active {
      left: 0;
      opacity: 1;
    }
  }
}

.a-tab-controller {
  display: flex;
  flex-direction: column;

  &__stack {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  &__view {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 0;
    /*transition: left 0.5s, opacity 0.5s;*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.is-before-active {
      left: -100%;
    }

    &.is-after-active {
      left: 100%;
    }

    &.is-active {
      left: 0;
      opacity: 1;
    }
  }
}

@keyframes spin12cw {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin12ccw {
  to {
    transform: rotate(-360deg);
  }
}