* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.any-vue {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: #555;

  &__view {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: left 0.5s, opacity 0.5s;
    display: flex;
    flex-direction: column;

    &.is-presenting, &.is-dismissing {
      left: 100%;
      opacity: 1;
    }
    &.is-active {
      left: 0;
      opacity: 1;
    }
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }
}

@keyframes spin12cw {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin12ccw {
  to {
    transform: rotate(-360deg);
  }
}