* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

@keyframes spin12cw {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin12ccw {
  to {
    transform: rotate(-360deg);
  }
}