$color-base: #5181B8;
$color-base-light: #528BCC;
$color-base-dark: #4872A3;
$color-base-darkest: #003973;

$color-text-dark: #45678F;
$color-text: $color-base;
$color-text-light: $color-base-light;

$color-commerce: #4BB34B;
$color-commerce-dark: #429E42;

$color-checkbox-gray: #C4C8CC;

.base-vk {
  .a-button {
    background: $color-base;
    color: #fff;
    border-radius: 18px;
    font-size: 15px;
    padding: 8.5px 16px 9.5px;
    letter-spacing: -0.24px;
  }
  .a-button:active {
    background: $color-base-dark;
  }
  .a-button.is-disabled {
    opacity: 0.4;
  }
  .a-button.is-small {
    border-radius: 16px;
    font-size: 14px;
    padding: 6.5px 16px 7.5px;
    letter-spacing: -0.15px;
  }
  .a-button.is-large {
    border-radius: 10px;
    font-size: 17px;
    padding: 11.5px 16px 12.5px;
    letter-spacing: -0.41px;
  }
  .a-button.is-secondary {
    background: rgba($color-base-darkest, 0.1);
    color: $color-text-dark;
  }
  .a-button.is-secondary:active {
    background: rgba($color-base-darkest, 0.2);
    color: $color-text-dark;
  }
  .a-button.is-muted {
    background: rgba($color-base-darkest, 0.08);
    color: $color-text;
  }
  .a-button.is-muted:active {
    background: rgba($color-base-darkest, 0.16);
    color: $color-text;
  }
  .a-button.is-tertiary {
    background: transparent;
    color: $color-text;
  }
  .a-button.is-tertiary:active {
    background: rgba($color-base-darkest, 0.08);
    color: $color-text;
  }
  .a-button.is-outlined {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $color-base-light;
    color: $color-text-light;
  }
  .a-button.is-outlined:active {
    background: rgba($color-base-light, 0.1);
  }
  .a-button.is-commerce {
    background: $color-commerce;
  }
  .a-button.is-commerce:active {
    background: $color-commerce-dark;
  }

  &.os-ios .a-switch:before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 31"><path fill="#{$color-base-light}" d="M15.857,0.0921521998 C17.597,-0.00784780024 19.335,0.000152199762 21.075,0.000152199762 L29.892,0.000152199762 C31.666,0.000152199762 33.404,-0.00784780024 35.143,0.0921521998 C36.724,0.1821522 38.264,0.3741522 39.797,0.8031522 C43.024,1.7051522 45.842,3.5891522 47.879,6.2601522 C49.904,8.9141522 51,12.1631522 51,15.4991522 C51,18.8391522 49.904,22.0861522 47.879,24.7401522 C45.842,27.4101522 43.024,29.2951522 39.797,30.1971522 C38.264,30.6261522 36.724,30.8171522 35.143,30.9081522 C33.404,31.0081522 31.666,30.9991522 29.926,30.9991522 C29.914,30.9991522 21.107,31.0001522 21.107,31.0001522 C19.335,30.9991522 17.597,31.0081522 15.857,30.9081522 C14.277,30.8171522 12.737,30.6261522 11.204,30.1971522 C7.977,29.2951522 5.159,27.4101522 3.122,24.7401522 C1.097,22.0861522 0,18.8391522 0,15.5001522 C0,12.1631522 1.097,8.9141522 3.122,6.2601522 C5.159,3.5891522 7.977,1.7051522 11.204,0.8031522 C12.737,0.3741522 14.277,0.1821522 15.857,0.0921521998 Z"></path></svg>');
  }
  &.os-android .a-switch:before {
    /* TODO */
  }

  .a-checkbox {
  }
  .a-checkbox__input {
    appearance: none;
    width: 24px;
    height: 24px;
    vertical-align: -7px;
    margin: 0 12px 0 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#{$color-checkbox-gray}" d="M7.1277704,2 L16.8722296,2 C18.6552671,2 19.3018396,2.18565122 19.9536914,2.53426541 C20.6055433,2.88287959 21.1171204,3.39445674 21.4657346,4.04630859 C21.8143488,4.69816044 22,5.34473292 22,7.1277704 L22,16.8722296 C22,18.6552671 21.8143488,19.3018396 21.4657346,19.9536914 C21.1171204,20.6055433 20.6055433,21.1171204 19.9536914,21.4657346 C19.3018396,21.8143488 18.6552671,22 16.8722296,22 L7.1277704,22 C5.34473292,22 4.69816044,21.8143488 4.04630859,21.4657346 C3.39445674,21.1171204 2.88287959,20.6055433 2.53426541,19.9536914 C2.18565122,19.3018396 2,18.6552671 2,16.8722296 L2,7.1277704 C2,5.34473292 2.18565122,4.69816044 2.53426541,4.04630859 C2.88287959,3.39445674 3.39445674,2.88287959 4.04630859,2.53426541 C4.69816044,2.18565122 5.34473292,2 7.1277704,2 Z M6.5638852,4 C5.67236646,4 5.34908022,4.09282561 5.0231543,4.2671327 C4.69722837,4.4414398 4.4414398,4.69722837 4.2671327,5.0231543 C4.09282561,5.34908022 4,5.67236646 4,6.5638852 L4,17.4361148 C4,18.3276335 4.09282561,18.6509198 4.2671327,18.9768457 C4.4414398,19.3027716 4.69722837,19.5585602 5.0231543,19.7328673 C5.34908022,19.9071744 5.67236646,20 6.5638852,20 L17.4361148,20 C18.3276335,20 18.6509198,19.9071744 18.9768457,19.7328673 C19.3027716,19.5585602 19.5585602,19.3027716 19.7328673,18.9768457 C19.9071744,18.6509198 20,18.3276335 20,17.4361148 L20,6.5638852 C20,5.67236646 19.9071744,5.34908022 19.7328673,5.0231543 C19.5585602,4.69722837 19.3027716,4.4414398 18.9768457,4.2671327 C18.6509198,4.09282561 18.3276335,4 17.4361148,4 L6.5638852,4 Z"></path></svg>');
  }
  .a-checkbox.is-on .a-checkbox__input {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#{$color-base-light}" d="M7.1277704,2 L16.8722296,2 C18.6552671,2 19.3018396,2.18565122 19.9536914,2.53426541 C20.6055433,2.88287959 21.1171204,3.39445674 21.4657346,4.04630859 C21.8143488,4.69816044 22,5.34473292 22,7.1277704 L22,16.8722296 C22,18.6552671 21.8143488,19.3018396 21.4657346,19.9536914 C21.1171204,20.6055433 20.6055433,21.1171204 19.9536914,21.4657346 C19.3018396,21.8143488 18.6552671,22 16.8722296,22 L7.1277704,22 C5.34473292,22 4.69816044,21.8143488 4.04630859,21.4657346 C3.39445674,21.1171204 2.88287959,20.6055433 2.53426541,19.9536914 C2.18565122,19.3018396 2,18.6552671 2,16.8722296 L2,7.1277704 C2,5.34473292 2.18565122,4.69816044 2.53426541,4.04630859 C2.88287959,3.39445674 3.39445674,2.88287959 4.04630859,2.53426541 C4.69816044,2.18565122 5.34473292,2 7.1277704,2 Z M5.69999981,11.519989 C5.69076355,11.5288296 5.68171061,11.5378598 5.67284678,11.5470737 C5.31683317,11.9171505 5.32823356,12.505763 5.69831027,12.8617766 L9.30703787,16.3333708 C9.69406545,16.7056911 10.30607,16.7058319 10.6932688,16.3336897 L18.298896,9.02381636 C18.3074489,9.01559607 18.3158447,9.00721394 18.324079,8.99867452 C18.6829558,8.62649934 18.6721754,8.03386461 18.3000002,7.67498779 L18.2931462,7.66837874 C17.9061673,7.29522715 17.2934155,7.29479313 16.9059084,7.66739613 L10,14.3076923 L7.09151415,11.5141592 C6.70498799,11.1429098 6.09450584,11.1423827 5.70733915,11.5129641 L5.69999981,11.519989 Z"></path></svg>'); 
  }
  .a-checkbox.is-disabled {
    opacity: 0.4;
  }
}