$color-base: #5181B8;
$color-base-light: #528BCC;
$color-base-dark: #4872A3;
$color-base-darkest: #003973;

$color-text-dark: #45678F;
$color-text: $color-base;
$color-text-light: $color-base-light;

$color-commerce: #4BB34B;
$color-commerce-dark: #429E42;

$color-checkbox-gray: #C4C8CC;

.base-vk {
  .a-button {
    background: $color-base;
    color: #fff;
    border-radius: 18px;
    font-size: 15px;
    padding: 8.5px 16px 9.5px;
    letter-spacing: -0.24px;

    &:active {
      background: $color-base-dark;
    }

    &.is-disabled {
      opacity: 0.4;
    }

    &.is-small {
      border-radius: 16px;
      font-size: 14px;
      padding: 6.5px 16px 7.5px;
      letter-spacing: -0.15px;
    }

    &.is-large {
      border-radius: 10px;
      font-size: 17px;
      padding: 11.5px 16px 12.5px;
      letter-spacing: -0.41px;
    }

    &.is-secondary {
      background: rgba($color-base-darkest, 0.1);
      color: $color-text-dark;
      &:active {
        background: rgba($color-base-darkest, 0.2);
        color: $color-text-dark;
      }
    }

    &.is-muted {
      background: rgba($color-base-darkest, 0.08);
      color: $color-text;
      &:active {
        background: rgba($color-base-darkest, 0.16);
        color: $color-text;
      }
    }

    &.is-tertiary {
      background: transparent;
      color: $color-text;
      &:active {
        background: rgba($color-base-darkest, 0.08);
        color: $color-text;
      }
    }

    &.is-outlined {
      background: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: $color-base-light;
      color: $color-text-light;
      &:active {
        background: rgba($color-base-light, 0.1);
      }
    }

    &.is-commerce {
      background: $color-commerce;
      &:active {
        background: $color-commerce-dark;
      }
    }
  }


  .a-nav-bar {
    background: #528bcc;
    color: #fff;
  }

  &.os-ios .a-switch:before {
    background: url(../assets/vk-ios-switch-background-on.svg);
  }
  &.os-android .a-switch:before {
    /* TODO */
  }

  .a-checkbox {
    &__input {
      appearance: none;
      width: 24px;
      height: 24px;
      vertical-align: -7px;
      margin: 0 12px 0 0;
      background: url(../assets/vk-ios-checkbox-background.svg);
    }

    &.is-on .a-checkbox__input {
      background: url(../assets/vk-ios-checkbox-background-on.svg); 
    }

    &.is-disabled {
      opacity: 0.4;
    }
  }
}