@import 'base';

$font: SFProText-Regular, -apple-system, Helvetica Neue, Arial;
$font-bold: SFProText-Medium, -apple-system, Helvetica Neue, Arial;
$easing: cubic-bezier(.36, .66, .04, 1);

$font-size-normal: 16px;

$switch-width: 51px;
$switch-height: 31px;
$switch-border-width: 2px;
$switch-knob-size: 27px;
$switch-toggle-duration: 0.2s;

$spinner-size: 35px;
$spinner-color: #6A717D;
$spinner-small-size: 20px;
$spinner-small-color: #8E8E93;

$white: #fff;

.os-ios {
  font-family: $font;
  font-size: $font-size-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button {
    font-family: $font-bold;
    font-weight: 400;
  }

  button, input {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }

  &.any-vue {
    & .any-vue__content {
      background: #F7F7F7;
      padding: 12px;
    }
    & .any-vue__content > .a-list {
      margin: 0 -12px;
    }
  }

  .a-button {
    text-align: center;
  }

  .a-switch {
    width: $switch-width;
    height: $switch-height;
    /* Use SVG background because it gives better (and more accurate) curves */
    /* border: 2px solid #E5E5E5; */
    background: url(../assets/ios-switch-background.svg);
    padding: $switch-border-width;
    position: relative;

    &:before {
      /* Separate element so we can use opacity transition between backgrounds */
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: $switch-width;
      height: $switch-height;
      opacity: 0;
      transition: opacity $switch-toggle-duration;
      background: url(../assets/ios-switch-background-on.svg); 
    }

    &__knob {
      position: absolute;
      left: $switch-border-width;
      width: $switch-knob-size;
      height: $switch-knob-size;
      border-radius: $switch-knob-size;
      background: #FFFFFF;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15), 0 3px 1px 0 rgba(0,0,0,0.06), 0 0 0 0.5px rgba(0,0,0,0.04);
      transition: left $switch-toggle-duration;
    }

    &.is-on {
      &:before {
        opacity: 1;
      }
      & .a-switch__knob {
        left: $switch-width - $switch-knob-size - $switch-border-width;
      }
    }

    &.is-disabled {
      opacity: 0.4;
    }
  }

  .a-spinner {
    width: $spinner-size;
    height: $spinner-size;
    animation: spin12cw 1s steps(12, end) infinite;
    background: url(../assets/ios-spinner-background.svg);

    &.is-small {
      display: inline-block;
      width: $spinner-small-size;
      height: $spinner-small-size;
      animation: spin12ccw 1s steps(12, end) infinite;
      background: url(../assets/ios-spinner-background-small.svg);
    }
  }

  .a-list {
    background: #F7F7F7;

    &__item {
      position: relative;
      background: #fff;
      padding: 11px 11px 11px 12px;
      display: flex;

      & + .a-list__item {
        padding-top: 12px;
      }
      & + .a-list__item:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 11px;
        right: 0px;
        height: 1px;
        background: #e1e2e2;
      }

      &.is-clickable {
        cursor: pointer;
      }

      &.is-info {
        .a-list__item-content {
          display: flex;
          flex-direction: column;
        }
        .a-list__item-label {
          order: -1;
          margin-top: 0px;
          margin-bottom: 4px;
        }
      }

      &.is-primary {
        .a-list__item-content {
          color: #528bcc;
        }
      }

      &.is-destructive {
        .a-list__item-content {
          color: #e64646;
        }
      }
    }

    &__item-content {
      flex: 1;
    }

    &__item-label {
      color: #909499;
      font-size: 13px;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__item-value {
      color: #909499;
    }

    &__item-accessory.a-switch {
      margin: -6px 0;
    }
    &__item-accessory.icon-chevron {
      margin: -3px 0 -3px 8px;
      color: #c4c8cc;
    }

    &__group-header {
      margin-top: 10px;
      padding: 15px 12px 14px 12px;
      border-top: 1px solid #d7d8d9;
      font-size: 13px;
      line-height: 15px;
      font-weight: 600;
      text-transform: uppercase;
      color: #909499;
      background: #fff;

      &.is-empty {
        padding: 0px;
      }
    }

    &__group-footer {
      margin-bottom: 10px;
      padding: 8px 12px;
      border-bottom: 1px solid #d7d8d9;
      font-size: 14px;
      color: #909499;
      background: #fff;

      &.is-empty {
        padding: 0px;
      }
    }
  }

  .a-text-input {

    &__input {
      margin: 0;
      width: 100%;
      display: block;
      box-shadow: none;
      outline: none;
      appearance: none;
      text-overflow: ellipsis;
      height: 44px;
      line-height: 19px;
      font-size: 16px;
      color: #000000;
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 20px;
      background: #f2f3f5;

      &:focus {
        border-color: #528bcc;
      }
    }
  }

  .a-tab-bar {
    display: flex;

    &__tab {
      cursor: pointer;
      text-align: center;
      white-space: nowrap;
      font-weight: bold;
    }

    &.is-normal.is-primary, &.is-footer.is-secondary {
      padding: 8px;
      .a-tab-bar__tab {
        flex: 1;
        border: 1px solid #99a2ad;
        line-height: 30px;
        font-size: 14px;
        padding: 0 12px;
        &.is-active {
          background: #99a2ad;
          color: #fff;
        }
        &:first-child {
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }
        &:last-child {
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
        }
        & + .a-tab-bar__tab {
          border-left: none;
        }
      }
    }

    &.is-normal.is-secondary {
      padding: 8px;
      .a-tab-bar__tab {
        color: #76787a;
        line-height: 32px;
        font-size: 16px;
        padding: 0 16px;
        margin-left: 8px;
        border-radius: 16px;
        &.is-active {
          background: #ebedf0;
          color: #5d5f61;
        }
        &:first-child {
          margin-left: 0px;
        }
      }
    }

    &.is-header.is-primary {
      padding: 8px;
      justify-content: center;
      .a-tab-bar__tab {
        min-width: 100px;
        color: #fff;
        border: 1px solid #fff;
        line-height: 30px;
        font-size: 14px;
        padding: 0 12px;
        &.is-active {
          background: #fff;
          color: #5181b8;
        }
        &:first-child {
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }
        &:last-child {
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
        }
        & + .a-tab-bar__tab {
          border-left: none;
        }
      }
    }

    &.is-header.is-secondary {
      padding: 8px;
      .a-tab-bar__tab {
        color: rgba(194, 222, 255, 0.80);
        line-height: 32px;
        font-size: 16px;
        padding: 0 16px;
        margin-left: 8px;
        border-radius: 16px;
        &.is-active {
          background: rgba(173, 211, 255, 0.32);
          color: #fff;
        }
        &:first-child {
          margin-left: 0px;
        }
      }
    }

    &.is-footer.is-primary {
      .a-tab-bar__tab {
        flex: 1;
        font-size: 12px;
      }
    }


  }

  /* Icons ? */
  .icon-chevron {
    width: 16px;
    height: 24px;
    background: url(../assets/ios-icon-chevron.svg);
  }
} 

:export {
  white: $white
}