@import 'base';

$font: SFProText-Regular, -apple-system, Helvetica Neue, Arial;
$font-bold: SFProText-Medium, -apple-system, Helvetica Neue, Arial;
$easing: cubic-bezier(.36, .66, .04, 1);

$font-size-normal: 16px;

$switch-width: 51px;
$switch-height: 31px;
$switch-border-width: 2px;
$switch-knob-size: 27px;
$switch-toggle-duration: 0.2s;

$spinner-size: 35px;
$spinner-color: #6A717D;
$spinner-small-size: 20px;
$spinner-small-color: #8E8E93;

$white: #fff;

.os-ios {
  font-family: $font;
  font-size: $font-size-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button {
    font-family: $font-bold;
    font-weight: 400;
  }

  button, input {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }

  .a-button {
    text-align: center;
  }

  .a-switch {
    width: $switch-width;
    height: $switch-height;
    /* Use SVG background because it gives better (and more accurate) curves */
    /* border: 2px solid #E5E5E5; */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$switch-width} #{$switch-height}"><path fill="transparent" stroke="#E5E5E5" stroke-width="#{$switch-border-width}" d="M15.9143766,1.09050481 L15.9138698,1.0905338 C14.2174527,1.18716516 12.8081817,1.39265065 11.4731982,1.76623701 C8.43694178,2.61492101 5.81070621,4.38365452 3.91701207,6.86674581 C2.02550925,9.3457821 1,12.3814742 1,15.5001522 C1,18.6200731 2.02505032,21.6539208 3.91704194,24.1335977 C5.81120797,26.6163779 8.43787809,28.3856451 11.4734901,29.234149 C12.8055317,29.6069122 14.2118799,29.8117444 15.9143766,29.9097996 C16.0559477,29.9177718 16.0559477,29.9177718 16.1976477,29.9251141 C17.4239621,29.9873191 18.4095772,29.9998378 20.6610666,30.0000413 C20.8839282,30.0000615 20.8839282,30.0000615 21.1068865,30.0001522 C22.2077615,30.0000272 22.2077615,30.0000272 25.5118865,29.9996522 C25.5141396,29.999652 25.5141396,29.999652 25.5163927,29.9996517 C28.8189974,29.999277 28.8189974,29.999277 29.926,29.9991522 C30.1253908,29.9991784 30.1253908,29.9991784 30.3244966,29.999257 C31.857002,29.9998617 32.5360268,29.9961145 33.3809668,29.9764597 C33.9854883,29.9623974 34.5467024,29.9407899 35.0855366,29.9098046 C36.7889119,29.8117608 38.1953252,29.6069522 39.5278018,29.2340674 C42.5631219,28.3856451 45.189792,26.6163779 47.0839879,24.1335586 C48.9755621,21.6544287 50,18.6207128 50,15.4991522 C50,12.3805916 48.9749563,9.34508169 47.0838486,6.86656309 C45.1902938,4.38365452 42.5640582,2.61492101 39.5275099,1.76615535 C38.1926753,1.39261064 36.7833425,1.1871493 35.0855905,1.09050292 C35.0167525,1.08658292 35.0167525,1.08658292 34.947884,1.08281305 C33.6605681,1.01304455 32.6263767,0.999337742 30.2588448,1.00007605 C30.0756911,1.00013315 30.0756911,1.00013315 29.892,1.0001522 L21.075,1.0001522 C20.8947405,1.00013315 20.8947405,1.00013315 20.7147101,1.00007605 C19.5941509,0.999720687 19.0972243,1.00110251 18.478075,1.00857929 C17.52496,1.02008902 16.7002795,1.04533797 15.9143766,1.09050481 Z M15.7998768,-0.906214967 C15.7999612,-0.906219779 15.8000457,-0.90622459 15.8001302,-0.906229401 L15.7996234,-0.906200407 C15.7997079,-0.906205261 15.7997923,-0.906210114 15.7998768,-0.906214968 Z"></path></svg>');
    padding: $switch-border-width;
    position: relative;
  }
  .a-switch:before {
    /* Separate element so we can use opacity transition between backgrounds */
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: $switch-width;
    height: $switch-height;
    opacity: 0;
    transition: opacity $switch-toggle-duration;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$switch-width} #{$switch-height}"><path fill="#4CD964" d="M15.857,0.0921521998 C17.597,-0.00784780024 19.335,0.000152199762 21.075,0.000152199762 L29.892,0.000152199762 C31.666,0.000152199762 33.404,-0.00784780024 35.143,0.0921521998 C36.724,0.1821522 38.264,0.3741522 39.797,0.8031522 C43.024,1.7051522 45.842,3.5891522 47.879,6.2601522 C49.904,8.9141522 51,12.1631522 51,15.4991522 C51,18.8391522 49.904,22.0861522 47.879,24.7401522 C45.842,27.4101522 43.024,29.2951522 39.797,30.1971522 C38.264,30.6261522 36.724,30.8171522 35.143,30.9081522 C33.404,31.0081522 31.666,30.9991522 29.926,30.9991522 C29.914,30.9991522 21.107,31.0001522 21.107,31.0001522 C19.335,30.9991522 17.597,31.0081522 15.857,30.9081522 C14.277,30.8171522 12.737,30.6261522 11.204,30.1971522 C7.977,29.2951522 5.159,27.4101522 3.122,24.7401522 C1.097,22.0861522 0,18.8391522 0,15.5001522 C0,12.1631522 1.097,8.9141522 3.122,6.2601522 C5.159,3.5891522 7.977,1.7051522 11.204,0.8031522 C12.737,0.3741522 14.277,0.1821522 15.857,0.0921521998 Z"></path></svg>');
  }
  .a-switch__knob {
    position: absolute;
    left: $switch-border-width;
    width: $switch-knob-size;
    height: $switch-knob-size;
    border-radius: $switch-knob-size;
    background: #FFFFFF;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15), 0 3px 1px 0 rgba(0,0,0,0.06), 0 0 0 0.5px rgba(0,0,0,0.04);
    transition: left $switch-toggle-duration;
  }
  .a-switch.is-on:before {
    opacity: 1;
  }
  .a-switch.is-on .a-switch__knob {
    left: $switch-width - $switch-knob-size - $switch-border-width;
  }
  .a-switch.is-disabled {
    opacity: 0.4;
  }

  .a-spinner {
    width: $spinner-size;
    height: $spinner-size;
    animation: spin12cw 1s steps(12, end) infinite;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$spinner-size} #{$spinner-size}">\
      <g fill="#{$spinner-color}">\
        <path fill-opacity="0.96" d="M17.203,2.57571742e-14 L17.797,2.57571742e-14 C18.3492847,2.57909919e-14 18.797,0.44771525 18.797,1 L18.797,8.719 C18.797,9.27128475 18.3492847,9.719 17.797,9.719 L17.203,9.719 C16.6507153,9.719 16.203,9.27128475 16.203,8.719 L16.203,1 C16.203,0.44771525 16.6507153,2.58586272e-14 17.203,2.57571742e-14 Z"></path>\
        <path fill-opacity="0.87" d="M10.521,2.819 L14.086,8.9935 C14.3288645,9.39519063 14.3356393,9.89678136 14.1037124,10.3048848 C13.8717855,10.7129883 13.4373848,10.9638571 12.9679926,10.9607693 C12.4986005,10.9576815 12.0675378,10.7011194 11.841,10.29 L8.2755,4.1155 C7.92472309,3.4961067 8.13892736,2.70973744 8.75537735,2.35381341 C9.37182734,1.99788938 10.1599535,2.2055361 10.521,2.819 Z"></path>\
        <path fill-opacity="0.79" d="M4.1155,8.2755 L10.29,11.8405 C10.7011194,12.0670378 10.9576815,12.4981005 10.9607693,12.9674926 C10.9638571,13.4368848 10.7129883,13.8712855 10.3048848,14.1032124 C9.89678136,14.3351393 9.39519063,14.3283645 8.9935,14.0855 L2.819,10.521 C2.2055361,10.1599535 1.99788938,9.37182734 2.35381341,8.75537735 C2.70973744,8.13892736 3.4961067,7.92472309 4.1155,8.2755 Z"></path>\
        <path fill-opacity="0.71" d="M1,16.203 L8.719,16.203 C9.27128475,16.203 9.719,16.6507153 9.719,17.203 L9.719,17.797 C9.719,18.3492847 9.27128475,18.797 8.719,18.797 L1,18.797 C0.44771525,18.797 2.58248095e-14,18.3492847 2.57571742e-14,17.797 L2.57571742e-14,17.203 C2.56895388e-14,16.6507153 0.44771525,16.203 1,16.203 L1,16.203 Z"></path>\
        <path fill-opacity="0.62" d="M10.7645,21.389 C10.936391,21.6866984 10.9829664,22.0404923 10.893978,22.3725343 C10.8049896,22.7045764 10.5877286,22.9876612 10.29,23.1595 L4.1155,26.7245 C3.49725677,27.0651686 2.72008683,26.8486365 2.36707096,26.2373595 C2.01405509,25.6260825 2.2149358,24.8447208 2.819,24.4795 L8.9935,20.9145 C9.61358121,20.5565081 10.406465,20.7689436 10.7645,21.389 Z"></path>\
        <path fill-opacity="0.54" d="M13.611,24.236 C14.2310564,24.594035 14.4434919,25.3869188 14.0855,26.007 L10.5205,32.1815 C10.2909759,32.5867881 9.8616902,32.8378135 9.395924,32.8390974 C8.93015779,32.8403813 8.49949475,32.5917264 8.26773973,32.1877098 C8.0359847,31.7836932 8.03875617,31.2864083 8.275,30.885 L11.84,24.7105 C12.0118405,24.4126358 12.2950163,24.1952773 12.627179,24.1062817 C12.9593417,24.0172861 13.3132565,24.0639503 13.611,24.236 Z"></path>\
        <path fill-opacity="0.46" d="M17.203,25.2815 L17.797,25.2815 C18.3492847,25.2815 18.797,25.7292153 18.797,26.2815 L18.797,34 C18.797,34.5522847 18.3492847,35 17.797,35 L17.203,35 C16.6507153,35 16.203,34.5522847 16.203,34 L16.203,26.2815 C16.203,25.7292153 16.6507153,25.2815 17.203,25.2815 Z"></path>\
        <path fill-opacity="0.37" d="M23.1595,24.7105 L26.7245,30.885 C26.9673645,31.2866906 26.9741393,31.7882814 26.7422124,32.1963848 C26.5102855,32.6044883 26.0758848,32.8553571 25.6064926,32.8522693 C25.1371005,32.8491815 24.7060378,32.5926194 24.4795,32.1815 L20.9145,26.007 C20.6716355,25.6053094 20.6648607,25.1037186 20.8967876,24.6956152 C21.1287145,24.2875117 21.5631152,24.0366429 22.0325074,24.0397307 C22.5018995,24.0428185 22.9329622,24.2993806 23.1595,24.7105 L23.1595,24.7105 Z"></path>\
        <path fill-opacity="0.29" d="M26.0065,20.9145 L32.181,24.4795 C32.5921194,24.7060378 32.8486815,25.1371005 32.8517693,25.6064926 C32.8548571,26.0758848 32.6039883,26.5102855 32.1958848,26.7422124 C31.7877814,26.9741393 31.2861906,26.9673645 30.8845,26.7245 L24.71,23.1595 C24.2988806,22.9329622 24.0423185,22.5018995 24.0392307,22.0325074 C24.0361429,21.5631152 24.2870117,21.1287145 24.6951152,20.8967876 C25.1032186,20.6648607 25.6048094,20.6716355 26.0065,20.9145 L26.0065,20.9145 Z"></path>\
        <path fill-opacity="0.21" d="M26.2815,16.203 L34,16.203 C34.5522847,16.203 35,16.6507153 35,17.203 L35,17.797 C35,18.3492847 34.5522847,18.797 34,18.797 L26.2815,18.797 C25.7292153,18.797 25.2815,18.3492847 25.2815,17.797 L25.2815,17.203 C25.2815,16.6507153 25.7292153,16.203 26.2815,16.203 Z"></path>\
        <path fill-opacity="0.12" d="M32.6555,8.75 C32.827391,9.04769845 32.8739664,9.40149227 32.784978,9.73353434 C32.6959896,10.0655764 32.4787286,10.3486612 32.181,10.5205 L26.0065,14.0855 C25.6048094,14.3283645 25.1032186,14.3351393 24.6951152,14.1032124 C24.2870117,13.8712855 24.0361429,13.4368848 24.0392307,12.9674926 C24.0423185,12.4981005 24.2988806,12.0670378 24.71,11.8405 L30.8845,8.2755 C31.5045812,7.91750807 32.297465,8.12994363 32.6555,8.75 L32.6555,8.75 Z"></path>\
        <path fill-opacity="0.05" d="M26.25,2.3445 C26.8700564,2.70253496 27.0824919,3.49541879 26.7245,4.1155 L23.1595,10.29 C22.9329622,10.7011194 22.5018995,10.9576815 22.0325074,10.9607693 C21.5631152,10.9638571 21.1287145,10.7129883 20.8967876,10.3048848 C20.6648607,9.89678136 20.6716355,9.39519063 20.9145,8.9935 L24.4795,2.819 C24.8375211,2.19924357 25.6300303,1.98684842 26.25,2.3445 L26.25,2.3445 Z"></path>\
      </g>\
    </svg>');
  }
  .a-spinner.is-small {
    display: inline-block;
    width: $spinner-small-size;
    height: $spinner-small-size;
    animation: spin12ccw 1s steps(12, end) infinite;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$spinner-small-size} #{$spinner-small-size}">\
      <g fill="#{$spinner-small-color}">\
        <path fill-opacity="0.96" d="M10,0 C9.448,0 9,0.448 9,1 L9,4 C9,4.552 9.448,5 10,5 C10.552,5 11,4.552 11,4 L11,1 C11,0.448 10.552,0 10,0 L10,0 Z"></path>\
        <path fill-opacity="0.87" d="M12.5,5.67 C12.979,5.946 13.59,5.782 13.866,5.304 L15.366,2.706 C15.642,2.228 15.479,1.616 15,1.34 C14.521,1.063 13.91,1.228 13.634,1.706 L12.134,4.304 C11.858,4.782 12.021,5.394 12.5,5.67 L12.5,5.67 Z"></path>\
        <path fill-opacity="0.79" d="M14.33,7.5 C14.606,7.979 15.218,8.142 15.696,7.866 L18.294,6.366 C18.772,6.09 18.937,5.479 18.66,5 C18.384,4.521 17.772,4.358 17.294,4.634 L14.696,6.134 C14.218,6.41 14.054,7.021 14.33,7.5 L14.33,7.5 Z"></path>\
        <path fill-opacity="0.71" d="M19,9 L16,9 C15.448,9 15,9.448 15,10 C15,10.552 15.448,11 16,11 L19,11 C19.552,11 20,10.552 20,10 C20,9.448 19.552,9 19,9 L19,9 Z"></path>\
        <path fill-opacity="0.62" d="M18.294,13.634 L15.696,12.134 C15.218,11.858 14.606,12.021 14.33,12.5 C14.054,12.979 14.218,13.59 14.696,13.866 L17.294,15.366 C17.772,15.642 18.384,15.479 18.66,15 C18.937,14.521 18.772,13.91 18.294,13.634 L18.294,13.634 Z"></path>\
        <path fill-opacity="0.54" d="M13.866,14.696 C13.59,14.218 12.979,14.054 12.5,14.33 C12.021,14.606 11.858,15.218 12.134,15.696 L13.634,18.294 C13.91,18.772 14.521,18.937 15,18.66 C15.479,18.384 15.642,17.772 15.366,17.294 L13.866,14.696 Z"></path>\
        <path fill-opacity="0.46" d="M10,15 C9.448,15 9,15.448 9,16 L9,19 C9,19.553 9.448,20 10,20 C10.552,20 11,19.553 11,19 L11,16 C11,15.448 10.552,15 10,15 L10,15 Z"></path>\
        <path fill-opacity="0.37" d="M7.5,14.33 C7.021,14.054 6.41,14.218 6.134,14.696 L4.634,17.294 C4.358,17.772 4.521,18.384 5,18.66 C5.479,18.937 6.09,18.772 6.366,18.294 L7.866,15.696 C8.142,15.218 7.979,14.606 7.5,14.33 L7.5,14.33 Z"></path>\
        <path fill-opacity="0.29" d="M5.67,12.5 C5.394,12.021 4.782,11.858 4.304,12.134 L1.706,13.634 C1.228,13.91 1.063,14.521 1.34,15 C1.616,15.479 2.228,15.642 2.706,15.366 L5.304,13.866 C5.782,13.59 5.946,12.979 5.67,12.5 L5.67,12.5 Z"></path>\
        <path fill-opacity="0.21" d="M5,10 C5,9.448 4.552,9 4,9 L1,9 C0.448,9 0,9.448 0,10 C0,10.552 0.448,11 1,11 L4,11 C4.552,11 5,10.552 5,10 L5,10 Z"></path>\
        <path fill-opacity="0.12" d="M1.706,6.366 L4.304,7.866 C4.782,8.142 5.394,7.979 5.67,7.5 C5.946,7.021 5.782,6.41 5.304,6.134 L2.706,4.634 C2.228,4.358 1.616,4.521 1.34,5 C1.063,5.479 1.228,6.09 1.706,6.366 L1.706,6.366 Z"></path>\
        <path fill-opacity="0.05" d="M6.366,1.706 C6.09,1.228 5.479,1.063 5,1.34 C4.521,1.616 4.358,2.228 4.634,2.706 L6.134,5.304 C6.41,5.782 7.021,5.946 7.5,5.67 C7.979,5.394 8.142,4.782 7.866,4.304 L6.366,1.706 Z"></path>\
      </g>\
    </svg>');
  }
} 

:export {
  white: $white
}